# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.venv
.temp_vision

python_ai/civic_agent_lora/
python_ai/civic_llm/
python_ai/civic_llm_model/
python_ai/civic_llm_v2/
python_ai/gemma3_model/
python_ai/temp_images/
*.safetensors
*.bin
*.pkl